{{ form_start(formplaylist) }}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-auto">
                    {{ form_row(formplaylist.name) }}
                </div>
                <div class="col">
                    {{ form_row(formplaylist.description) }}
                </div>
            </div>
        </div>
    </div>
{{ form_end(formplaylist) }}